.slider1 {
    background: black;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}

.slider1::before, .slider1::after {
    background: linear-gradient(to right, black 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider1::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider1::before {
    left: 0;
    top: 0;
}

.slider1 .slide1-track {
    animation: scroll 25s linear infinite;
    display: flex;
    width: calc(200px * 18);

}

.slider1 .slide1-track:hover {
    animation-play-state: paused;
}

.slider1 .slide1 {
    height: 100px;
    width: 200px;
    margin-left: 5px;
}


.slide1:nth-child(1), .slide1:nth-child(10) {
    background-image: url("https://media.discordapp.net/attachments/1024051503339683994/1024052479945605231/unknown.png?width=200&height=100");
}

.slide1:nth-child(2), .slide1:nth-child(11) {
    background-image: url("https://media.discordapp.net/attachments/1024051503339683994/1024072346467844178/unknown.png?width=200&height=100");
}

.slide1:nth-child(3), .slide1:nth-child(12) {
    background-image: url("https://media.discordapp.net/attachments/1024051503339683994/1024073692034121828/unknown.png?width=200&height=100");
}

.slide1:nth-child(4), .slide1:nth-child(13) {
    background-image: url("https://media.discordapp.net/attachments/1024051503339683994/1024074764844793998/unknown.png?width=200&height=100");
}

.slide1:nth-child(5), .slide1:nth-child(14) {
    background-image: url("https://media.discordapp.net/attachments/1024051503339683994/1024075453826355301/unknown.png?width=200&height=100");
}

.slide1:nth-child(6), .slide1:nth-child(15) {
    background-image: url("https://media.discordapp.net/attachments/1024051503339683994/1024076400308797450/unknown.png?width=200&height=100");
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 9));
    }
}