.page-header {
    margin-bottom: 6rem !important;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/carroCarousel3.jpg) center center no-repeat !important;
    background-size: 100% !important;

}